li {
    list-style-type: none;
  }

*, ::after, ::before {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

html, body, ul, h1, h2, h3, h4, p {
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    max-width: 1000px;
    padding-left: 30px;
    padding-right: 30px;
    margin: 0 auto;
}

h1 {
    font-family: $font-title;
    font-size: $fsize-one;
    color: $white;
    text-transform: capitalize;
    font-weight: bold;
}

h2 {
    font-family: $font-title;
    font-size: $fsize-one;
    text-align: center;
}

h3 {
    font-family: $font-main;
    font-size: $fsize-two;
    text-align: center;
    font-weight: 400;
}

p {
    font-family: $font-main;
    font-size: $fsize-four;
}

.data__address,
.data__link,
.copyright__address {
    font-size: 15px;
    color: $light-grey;
}
