.header {
    background-image: url(../assets/header-img.png);
    padding: 30px 30px 50px 30px;
    background-size: cover;
    min-width: 100%;
    overflow: hidden;
    background-position: 100% 100%;
    height: 840px;
    background-size: auto 100%;
    .header__navbar {
        display: flex;
        justify-content: space-between;
        margin-bottom: 203px;
        .navbar__logo {
            text-transform: uppercase;
            font-family: $font-main;
            font-size: $fsize-three;
            font-weight: bold;
            color: $white;
        }
        .navbar__list {
            z-index: 1;
            margin-top: 7px;
            .list__item {
                display: inline;
                margin-left: 40px;
                text-transform: uppercase;
                .item__link {
                    font-size: $fsize-five;
                    color: $white;
                    font-family: $font-main;
                    &:hover {
                        border-bottom: 2px solid $white;
                    }
                }
            }
        }

    }
    .header__headline {
        text-align: center;
        .headline__img {
            margin-bottom: 25px;
            position: relative;
            z-index: 1;
        }
        .headline__title {        
            margin-bottom: 42px;
        }
        .headline__subtitle {
            color: $white;
        }
    }

}