.section-information {
    padding-top: 80px;
    padding-bottom: 80px;  
    background-color: $bgcolor-bright;
    .app-section__title {
        color: $darkgrey;
        margin-bottom: 50px;
        font-weight: bold;
    }
    .app-section__subtitle {
        color: $grey;
        margin-bottom: 43px;
    }
    .app-section__text {
        margin-bottom: 50px;
        display: flex;
        .app-section__text-info {
           flex: 50%;
           color: $grey;
           padding-right: 40px;
        }
    }
    .app-section__button {
        text-align: center;
        a {
            background-color: $light-blue;
            font-family: $font-title;
            font-size: $fsize-four;
            color: $white;
            border-radius: 18px;
            padding: 6px 22px 6px 22px;
            display: inline-block;
        }
    }
}