@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');


$font-title: 'Oswald', sans-serif;
$font-main: 'Source Sans Pro', sans-serif;

$fsize-one: 48px;
$fsize-two: 24px;
$fsize-three: 20px;
$fsize-four: 16px;
$fsize-five: 14px;
$fsize-eight: 74px;


$white: #FFFFFF;
$darkgrey: #464547;
$grey: #666666;
$light-grey:#ADAAAF;
$light-blue: #55C2D8;

$bgcolor-bright: #eeeeee;
$bgcolor-dark: #464547;


